<% layout('layout/boilerplate') %>

<h3>All Listings</h3>

<div class="listing-container">
    <% listings.forEach(listing => { %>

        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="listing-card">

                <img src="<%= listing.image.url %>" class="listing-img" alt="<%= listing.title %>">

                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %><br>
                        ₹ <%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                </div>

            </div>
        </a>

    <% }) %>
</div>